.nav {
  background-color: #171B20;
  height: 64px;

  nav {
    display: inline-flex;
    height: 100%;
    margin-left: 22px;

    a {
      align-items: center;
      color: #FFFFFF;
      display: inline-flex;
      font-family: 'Avenir-Roman';
      font-size: 14px;
      height: 100%;
      margin: 0 7px;
      padding: 0 5px;
      position: relative;
      text-decoration: unset;

      &.active-nav-item {
        &:before {
          border-bottom: 2px solid #24CF5F;
          bottom: 0;
          content: '';
          left: 0;
          position: absolute;
          right: 0;
        }
      }
    }
  }
}
