@font-face {
    font-family: 'Avenir-Roman';
    src: url('./assets/fonts/Avenir-Roman.otf');
}

body {
    background-color: #282E36;
}

.not-implemented {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: 'Avenir-Roman';
    font-size: 16px;
    height: calc(100vh - 64px);
    justify-content: center;
}
